/** Global Styles **/

.app {
  font-size: 14px;
}
.app-container {
  padding-top: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 10px;
  padding: 10px;
}

.grid-container > button {
  text-align: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding-top: 40%;
}
